* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    text-transform: inherit;
    background-color: inherit;
}

body {
    line-height: 1;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}